<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>


</head>
<body>
<div class="container clearfix">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="col-lg-6">
				<div class="input-group">

					<span class="input-group-btn">
                        <form action="search" method="get">
                            <input type="text" class="form-control" id="input" name="name">
						<button class="btn btn-default" type="submit" id="search">
							Search
						</button>
                            </form>
					</span>
				</div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <div class="col-sm-3"></div>
</div>

<div class="container">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form action="rank" method="get">
            <button type="submit" class="label">rank</button>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>


<div class="container">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <form action="map" method="get">
            <button type="submit" class="label">map</button>
        </form>
    </div>
    <div class="col-sm-3"></div>
</div>


<div class="container clearfix">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="col-lg-6">
				<div class="input-group">

					<span class="input-group-btn">
                        <form action="delete" method="get">
                            <input type="text" class="form-control" id="input" name="name">
						<button class="btn btn-default" type="submit">
							Delete
						</button>
                            </form>
					</span>
				</div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <div class="col-sm-3"></div>
</div>

<div class="container clearfix">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="col-lg-6">
				<div class="input-group">

					<span class="input-group-btn">
                        <form action="insert" method="get">
                            <input type="text" class="form-control" id="input" name="name" placeholder="name"><br>
                            <input type="text" class="form-control" id="input" name="description" placeholder="description">
                            <input type="text" class="form-control" id="input" name="popularity" placeholder="popularity">
                            <input type="text" class="form-control" id="input" name="rest_zone" placeholder="rest_zone">
                            <input type="text" class="form-control" id="input" name="toilet" placeholder="toilet">


						<button class="btn btn-default" type="submit">
							Insert
						</button>
                            </form>
					</span>
				</div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div>
    <div class="col-sm-3"></div>
</div>

</body>
</html>