<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container clearfix">

<div class="container">
    <div style="height: 200px;"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2>
            Out Success!
        </h2>

        <label> time :{{ min }} min  {{ seconds }} seconds</label>
        <label>cost : {{ money }}</label>

    </div>
    <div class="col-sm-4"></div>

</div>

</div>
</body>
</html>