<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>

</head>
<body>
<div class="container">

    <div class="col-sm-3"></div>
    <div class="col-sm-6">


        <div class="container clearfix">
    <div class="col-sm-6">
        <div class="col-lg-6">
				<div class="input-group">

					<span class="input-group-btn">
                        <form action="carIn" method="get">
                            <input type="text" class="form-control" name="num">
						<button class="btn btn-default" type="submit" id="search">
							car in
						</button>
                            </form>
					</span>
				</div><!-- /input-group -->

            <div class="input-group">

					<span class="input-group-btn">
                        <form action="carOut" method="get">
                            <input type="text" class="form-control" name="num">
						<button class="btn btn-default" type="submit" id="search">
							car out
						</button>
                            </form>
					</span>
				</div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->


    </div>
    <div class="col-sm-3"></div>
</div>

        <div style="height: 30px"></div>
       <div class="container">
            <a href="parkState">Parking State</a>

       </div>

    </div>
    <div class="col-sm-3"></div>

</div>
</body>
</html>