<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>

<div class="container">
    <div style="height: 200px;"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ name }}</h3>
            </div>
            <div class="panel-body">
                <label>描述 {{ dict['description'] }}</label><br>
                <label>欢迎程度 {{ dict['popularity'] }}</label><br>
                <label>休息区 {{ dict['rest_zone'] }}</label><br>
                <label>公厕 {{ dict['toilet'] }}</label><br>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>

</body>
</html>